/*nav bar starts*/
body{
    font-family: 'Work Sans', sans-serif;
    
}
/*nav{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}*/
header{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height:1000px;
    
}
   


.nav-container{
    min-height:50px;
   display:flex;
   align-items:center;
   max-width:1400px;
   margin:0 auto;
 
}
.logo-container{
    height:50px;
    display:flex;
    width:300px;
}
.logo-container img{
    
    width:110px;
    object-fit: cover;
    margin-right:20px;
}
.logo-container .p{ 
    margin-bottom:1000px;
    color: #0B0223;
}
.gaming{
    color:rgb(240, 75, 212);
    margin-bottom:1000px;
    color: #0B0223;
    font-size: 20px;
    

}
.nav-items-container{
    width:50%;
    display:flex;
   justify-content:space-between;
    align-items:center;
}
/*.nav-items-container .a{
    text-decoration: none;
    font-size:20px;
    color:blue;
    
}*/
.a1{
 margin-left:150px;
 font-weight: 500;
 font-size: 20px;
 text-decoration: none;
 
}
.a2{
margin-left:150px;
 font-weight: 500;
 font-size: 20px;
 text-decoration: none;
}
.btn{
    font-size: 20px;
    margin-left: 200px;
    display:flex;
    align-items:center;
    justify-content: center;
    
   
}
.btn .btn-text{
    padding:8px;
}
.btn .btn-icon{
    gap:10px;
}
 
.nav-items-container .btn{
   border-radius: 8px;
    background: rgba(11, 2, 35, 0.10); ;
    padding:10px;
}
.nav-items-container .btn-text{
    display: flex;
   align-content: center;
}
.nav-items-container .btn-icon{
    display:flex;
    text-align:center;
}
/*nav bar ends*/
/*responsive layout for mobile*/
@media screen and (max-width:425px){
    
    
    .nav-container{
        flex-direction:column;
        width:100%;
    }
    .logo-container{
        width:100%;
    }
    .nav-items-container{
        
        flex-direction: column;
        text-align: center;
        width:100%;
        margin-top: 5px;
        
    }
    
    .nav-items-container .btn{
        width:100%;
        margin-left: 0px;
    }
}
/*responsive layout for tab
@media screen and (min-width:426px) and (max-width:768px
){
    .logo-container img{
        width:200px;
        height:80px;
        text-align:center;
}
.nav-container{
    max-width:1400px;
}
}*/
/*banner part*/
section{
    margin-top:10px;
}
section{
    display:flex;
}

.goat{
    
    background-color:#FFF; 
    width: 50vw;
    height: 5927px;
    background-image: url('./images/Group 14.png');
   background-repeat:no-repeat;
}
.goat p{
    margin-top:25px;
    color: #0B0223;
margin-left: 200px;
font-size: 25px;
font-weight: 600;
text-transform: uppercase;
}
span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left:12px;
font-size: 45px;
}
.list-items{
    
    margin-left:170px;
    list-style: none;
}

.btn-1{
    
    font-size: auto;;
    margin-left:220px;
    padding:10px 15px;
    background-color: #d41acb;
    border-radius: 20px;
}
.btn-2{
   
    font-size: auto;
    margin-left:15px;
    padding:10px 15px;
    background-color: #20c3e0;
    border-radius: 20px;
}
/*main part starts*/
.main h2{
    text-align:center;
    font-size: 30px;
}
.main p{
    text-align:center;
    font-size: 15px;
}
.main span{
    color:#633eb8;
}
 
.main-image{
   
   display:flex ;
   justify-content:center;
   
}
.div2{
    margin-right:5px;
}
.div3{
    margin-right:5px;
}
.position{
    margin-left:150px;
    
}
.principal{
    position:relative;
    margin-left:200px;
    top:120px;
    left:10px;

}
.auxilary{
    position:absolute;
    margin-left:680px;
}
.writing{
    margin-left:1000px;
    margin-top:-10px;
    justify-content:center ;
}
