
body{
    font-family: 'Work Sans', sans-serif;
    width:100%;
    
}
header{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height:1000px;
    
}
.navigation{
   
    width:100%;
    height:100px;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr)
}
.img{
grid-column:2/3;
grid-row:2/3;
margin-top:20px;
}
.para{

    font-size:large;
    font-weight: 700;
    grid-column:3/4;
    grid-row:2/4;
    margin-right:700px;
}
.para2{
    margin-top:20px;
    grid-column:7/8;
    grid-row:2/3;
    margin-right:80px;
}
.developers{
    margin-top:20px;
    grid-column: 8/9;
    grid-row:2/4;
    margin-right:80px;
}
.buttonn{
    grid-column:10/-1;
    grid-row:2/3;
    margin-top:15px;
    margin-right:20px;
}
.btn{
    display:flex;
   
}

.btn .btn-text{
    padding:8px;
}
section{
    margin-top:10px;
}
section{
    display:flex;
}

.goat{
    
    background-color:#FFF; 
    width: 50vw;
    height: 700px;
    background-image: url('./images/Group 14.png');
   background-repeat:no-repeat;
}
.goat .play{
    margin-top:25px;
    color: #0B0223;
margin-right:350px;
font-size: 25px;
font-weight: 600;
text-transform: uppercase;
}
.span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left:12px;
font-size: 45px;
}
.list-items{
    
    margin-left:170px;
    list-style: none;
}

.btn-1{
    
    font-size: auto;;
    margin-left:200px;
    padding:10px 15px;
    background-color: #d41acb;
    border-radius: 20px;
}
.btn-2{
   
    font-size: auto;
    margin-left:15px;
    padding:10px 15px;
    background-color: #20c3e0;
    border-radius: 20px;
}
.parts h2,p{
    text-align: center;
   
}
.main-all{
    display:flex;
    gap:3px;
    margin-left:150px;
}

.parts .videos{
    color:#d41acb;
}
.image{
    position:relative;
    width:400px;
}
.image--img{
    display:block;
    width:100%;
}
.image--title img{
    width:50px;
}
.image--overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:#FFF;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    opacity:0;
    transition:opacity 0.2s;
}
.image--overlay--blur{
    
    backdrop-filter: blur(5px);
}
.image--overlay:hover{
    opacity:1;
}

/*.photos{
    display:flex;
    margin-bottom:30px;
    margin-left:230px;
}
 .div1{
    margin-right:5px;
 }
 

.div2{
    margin-right:5px;
}
.div3{
    margin-right:5px;
}*/
.position{
    margin-left:150px;
    
}
.principal{
    position:relative;
    margin-left:150px;
    top:120px;
    left:10px;

}
.auxilary{
    position:absolute;
    margin-left:680px;
}
.writing{
    margin-left:1000px;
    margin-top:-10px;
    justify-content:center ;
}
.writing p{
    margin-right:300px;
}
.writing h2 span{
    color:#F948B2;
    font-size: larger;
}
.iconic{
    height:300px;
     margin-top:300px;
     margin-left:380px;
     
     
}
.icon1{
    margin-bottom:20px;
    margin-left: 50px;
    
}
.icon2{
    margin-left:120px;
    
}
.bttn{
    background-color:white;
    border-radius: 8px;
    border:none;
    color:black;
    padding:12px 16px;
    cursor:pointer;
}
.bttn:hover{
    background-color:rgb(151, 142, 126);
    border-radius: 30px;
    padding:10px;
  
}
.footer{
    height:500px;
    margin-top:10px;
        background-color: rgb(35, 54, 107);
        padding: 20px; 
        text-align: center; 
      
}
.footer .gaming{
   font-size:30px; 
}
.footer .gaming span{
    color:#F948B2;
}

footer .unorder-list2{
    display:flex;
    margin-bottom:30px;
    list-style: none;
    padding-left:750px;
}
.list-1{
    margin-right:20px;
    font-size: 70px;
}
.list-2{
    margin-right:20px;
    font-size: 70px;
}
.list-3{
    margin-left:20px;
    font-size: 70px;
}
.list-4{
    margin-left:20px;
    font-size: 70px;
}
.list-5{
    margin-left:20px;
    font-size: 70px;
}
.tab span{
    margin-right:10px;
    color:white;
}
.text span{
    color:white;
    margin-right:7px;
    font-size:12px;
}
.end p{
    font-size:small;
    color:white;
}