/*nav bar starts*/
*{
    border
}

body{
    font-family: 'Work Sans', sans-serif;
    
}
/*nav{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}*/
header{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height:1000px;
    
}
.navigation{
    border:2px solid red;
    width:100%;
    height:100px;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr)
}
.img{
grid-column:2/3;
grid-row:2/3;
margin-top:20px;
}
.para{
    font-size:large;
    font-weight: 700;
    grid-column:3/4;
    grid-row:2/4;
}
.para2{
    margin-top:20px;
    grid-column:7/8;
    grid-row:2/3;
}
.developers{
    margin-top:20px;
    grid-column: 8/9;
    grid-row:2/4;
}
.buttonn{
    grid-column:10/-1;
    grid-row:2/3;
    margin-top:15px;
}

.btn .btn-text{
    padding:8px;
}
.btn .btn-icon{
    gap:10px;
}
 
.nav-items-container .btn{
   border-radius: 8px;
    background: rgba(11, 2, 35, 0.10); ;
    padding:10px;
}
.nav-items-container .btn-text{
    display: flex;
   align-content: center;
}
.nav-items-container .btn-icon{
    display:flex;
    text-align:center;
}
/*nav bar ends*/

/*banner part*/
section{
    margin-top:10px;
}
section{
    display:flex;
}

.goat{
    
    background-color:#FFF; 
    width: 50vw;
    height: 5927px;
    background-image: url('./images/Group 14.png');
   background-repeat:no-repeat;
}
.goat p{
    margin-top:25px;
    color: #0B0223;
margin-left: 200px;
font-size: 25px;
font-weight: 600;
text-transform: uppercase;
}
span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left:12px;
font-size: 45px;
}
.list-items{
    
    margin-left:170px;
    list-style: none;
}

.btn-1{
    
    font-size: auto;;
    margin-left:220px;
    padding:10px 15px;
    background-color: #d41acb;
    border-radius: 20px;
}
.btn-2{
   
    font-size: auto;
    margin-left:15px;
    padding:10px 15px;
    background-color: #20c3e0;
    border-radius: 20px;
}
.main h2{
    text-align:center;
}
.main p{
    text-align:center;
}
.photos{
    display:flex;
    margin-bottom:30px;
    margin-left:230px;
}
 .div1{
    margin-right:5px;
 }

.div2{
    margin-right:5px;
}
.div3{
    margin-right:5px;
}
.position{
    margin-left:150px;
    
}
.principal{
    position:relative;
    margin-left:150px;
    top:120px;
    left:10px;

}
.auxilary{
    position:absolute;
    margin-left:680px;
}
.writing{
    margin-left:1000px;
    margin-top:-10px;
    justify-content:center ;
}
/*main part ends*/
/