
body{
    font-family: 'Work Sans', sans-serif;
    width:100%;
    
}
header{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height:1000px;
    
}
.navigation{
   
    width:100%;
    height:100px;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr)
}
.img{
grid-column:2/3;
grid-row:2/3;
margin-top:20px;
}
.para{

    font-size:large;
    font-weight: 700;
    grid-column:3/4;
    grid-row:2/4;
    margin-right:700px;
}
.para2{
    margin-top:20px;
    grid-column:7/8;
    grid-row:2/3;
    margin-right:150px;
}
.developers{
    margin-top:20px;
    grid-column: 8/9;
    grid-row:2/4;
    margin-right:150px;
}
.buttonn{
    grid-column:10/-1;
    grid-row:2/3;
    margin-top:15px;
    margin-right:30px;
}
.btn{
    display:flex;
}

.btn .btn-text{
    padding:8px;
}
section{
    margin-top:10px;
}
section{
    display:flex;
}

.goat{
    
    background-color:#FFF; 
    width: 50vw;
    height: 700px;
    background-image: url('./images/Group 14.png');
   background-repeat:no-repeat;
}
.goat p{
    margin-top:25px;
    color: #0B0223;
margin-left: 200px;
font-size: 25px;
font-weight: 600;
text-transform: uppercase;
}
span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left:12px;
font-size: 45px;
}
.list-items{
    
    margin-left:170px;
    list-style: none;
}

.btn-1{
    
    font-size: auto;;
    margin-left:220px;
    padding:10px 15px;
    background-color: #d41acb;
    border-radius: 20px;
}
.btn-2{
   
    font-size: auto;
    margin-left:15px;
    padding:10px 15px;
    background-color: #20c3e0;
    border-radius: 20px;
}
.main h2{
    text-align:center;
}
.main p{
    text-align:center;
}
.photos{
    display:flex;
    margin-bottom:30px;
    margin-left:230px;
}
 .div1{
    margin-right:5px;
 }
 

.div2{
    margin-right:5px;
}
.div3{
    margin-right:5px;
}
.position{
    margin-left:150px;
    
}
.principal{
    position:relative;
    margin-left:150px;
    top:120px;
    left:10px;

}
.auxilary{
    position:absolute;
    margin-left:680px;
}
.writing{
    margin-left:1000px;
    margin-top:-10px;
    justify-content:center ;
}
.iconic{
     margin-top:170px; 
     margin-left:380px;
}
.icon1{
    margin-bottom:20px;
}
.icon2{
    margin-left:80px;
}
.bttn{
    background-color:white;
    border-radius: 8px;
    border:none;
    color:black;
    padding:12px 16px;
    cursor:pointer;
}
.bttn:hover{
    background-color:rgb(151, 142, 126);
  
}
.footer{
    height:500px;
    margin-top:10px;
        background-color: #773838; 
        padding: 20px; 
        text-align: center; 
      
}
.footer .gaming{
   font-size:30px; 
}

footer .unorder-list2{
    display:flex;
    margin-bottom:30px;
    list-style: none;
    padding-left:750px;
}
.list-1{
    margin-right:15px;
    font-size: 70px;
}
.list-2{
    margin-right:20px;
    font-size: 70px;
}
.list-3{
    margin-left:20px;
    font-size: 70px;
}
.list-4{
    margin-left:20px;
    font-size: 70px;
}
.list-5{
    margin-left:20px;
    font-size: 70px;
}